alias m="ncmpcpp"
alias r="ranger"
alias ls='ls --color=auto'
alias v="nvim"
alias sv="sudo nvim"
alias sus="sudo systemctl"
alias p="sudo pacman"
alias sj="ssh -p 42878 theo@janky"
alias t="nvim ~/.todo"
alias sdn="sudo shutdown now"
alias g="git"
alias j="cd /home/theo/dev/jupyter && jupyter notebook"

